<h1 class="start-page-headline">
  Welcome to<br>
  Open Day @ Nugg.ad
</h1>

<div class="start-page">
  <div class="container">
    <div class="upcoming-days">
      <ul>
        <li>
          <a href=<%= new_day_path %> data-toggle="modal" data-target="#new_day_modal" type="button" class="btn btn-primary" role="button">Create a new day</a>
        </li>
        <h3>Upcoming open days</h3>
        <% @days.each do |day| %>

          <% if day.upcoming_day %>
            <div class="container">
              <li><%= link_to day.date.strftime("%B %d, %Y"), day %></li>
            </div>
          <% end %>

        <% end %>
      </ul>
    </div>
   </div> 
</div>

<div class="past-events">
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">
    Past Events
  </button>
</div>

  <div id="demo" class="collapse">
    <ul>
      <% @days.each do |day| %>
        <% unless day.upcoming_day %>
          <li>
            <%= link_to day.date.strftime("%B %d, %Y"), day %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

<div id="new_day_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>