<h1>All Internship Days</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @days.each do |day| %>
      <tr>
        <td><%= day.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>