<h1>DAY</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Time</th>
      <th>Host</th>
      <th>Intern</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>9am - 10am</td>
      <td>Susanne</td>
      <td>Lena</td>
    </tr>
  </tbody>  
</table>
