<%= form_tag('/days') do %>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Create a new day.</h4>
  </div>

  <div class="modal-body">

    <div class="form-group">
      <label for: :date> Date</label>
      <div class='input-group date' id='datetimepicker_day' data-date-format="DD/MM/YYYY">
        <input type='text' class="form-control" name="day[date]" />
        <span class="input-group-addon"><span class="fa fa-calendar"></span>
        </span>
      </div>
    </div>

    <script type="text/javascript">
      $(function () {
        $('#datetimepicker_day').datetimepicker({
          pickTime: false
          });
        });
    </script>


  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Create new day</button>
  </div>

<% end %>