<div class="date-form">
  <%= form_for @day, :method => :post do |f| %>
    <h4>Create a new day!</h4>
      <div class="form-group"> 
        <div class='input-group date' id='datetimepicker_day' data-date-format="DD/MM/YYYY">
          <input type='text' class="form-control" name="day[date]" />
          <span class="input-group-addon"><span class="fa fa-calendar"></span>
          </span>
        </div>
      </div>

      <script type="text/javascript">
        $(function () {
          $('#datetimepicker_day').datetimepicker({
            pickTime: false,

            icons: {
              time: "fa fa-clock-o",
              date: "fa fa-calendar",
              up: "fa fa-arrow-up",
              down: "fa fa-arrow-down"
            }
          });
        });
      </script>

    <button type="submit" class="btn btn-primary">Create new day</button>

  <% end %>
</div>