<h1>
  <%= @day.date %>
</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Time</th>
      <th>Host</th>
      <th>Intern</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>9am - 10am</td>
      <td>
        <form class="form-inline">
          <input type="text" class="input-small" placeholder="Email">
          <input type="text" class="input-small" placeholder="Name">
          <button type="submit" class="btn">Offer Slot</button>
          <!-- form for -->
        </form>
      </td>
      <td>
        <form class="form-inline">
          <input type="text" class="input-small" placeholder="Email">
          <input type="text" class="input-small" placeholder="Name">
          <button type="submit" class="btn">Apply for Slot</button>
        </form>
      </td>
    </tr>
  </tbody>  
</table>