<%= form_for (@internship) do  |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Update your internship</h4>
  </div>
  <div class="modal-body">
    <%= hidden_field_tag :day_id, @internship.day.id %> 

    <%= text_field_tag :email, @internship.intern.email, placeholder: 'Email' %>
    <br/>

    <%= text_field_tag :name, @internship.intern.name, placeholder: 'Name' %>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Update</button>
  </div>
<% end %>