<%= form_tag ('internships/#{@internship.id}/sign_up_form') do %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Become an Intern</h4>
  </div>
  <div class="modal-body">

    <div class="form-group">
      <label for: :email> Email</label>
      <%= text_field_tag :email, nil, placeholder: 'Email', :class => 'form-control' %>
    </div>

    <div class="form-group">
      <label for: :name> Name</label>
      <%= text_field_tag :name, nil, placeholder: 'Name', :class => 'form-control' %>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Save changes</button>
  </div>
<% end %>
