/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require eonasdan-bootstrap-datetimepicker
 *= require_self
 *= require_tree .
 */
@import "font-awesome";
@import "bootstrap";


.panel {
  margin: 15px;
}

.panel-body {
  word-wrap: break-word;
  overflow: auto;
}

.nb {
  font-size: small;
}

.empty_day {
  text-align: center;
}

body {
  padding-top: 70px;
}

html.start-page-background {
  background: image-url("merapi.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // -webkit-filter: grayscale(100%);

  body {
    background-color: transparent;

  }
}

.jumbotron {
  background-color: rgba(253, 253, 253, 0.48);
}
.start-page-text {
  text-align: center;
}

.black-box {
  li {
    margin: 0;
    padding: 10px;
  }
  background-color: black;
  margin: 15px;
  background-color: rgba(0,0,0,.7);
}

.text-field {
  //border: 1px dotted black;
}

.past-events {
  margin: 10px;
}

.start-page-headline {
  line-height: 1;
  font-size: 60px;
  margin-bottom: 50px;
  // font-family: 'Londrina Solid', cursive;
  color: black;
}

.start-page {
  text-align: center;
}

.upcoming-days {
  // background-color: rgba(0,0,0,.7);
  display: inline-block;
  font-family: 'Londrina Solid', cursive;
  color: black;

}


#days {
  text-align: center;

}

.host-column {
  width: 45%;
}

.time_column {
  width: 5%;
}

.awesome-font {

  margin-bottom: 15px;
}

.host_form {
  display: block;
  input, textarea {
    margin-bottom: 20px;
  }

}

/*
 * Simple CSS stylesheet for a navigation bar and flash messages.
 */
main {
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  }
header {
  border: 1px solid #d4d4d4;
  background-image: linear-gradient(to bottom, white, #f2f2f2);
  background-color: #f9f9f9;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.calendar-date:hover .calender-thingy {

}

.calendar-date {
  
  &:hover {
    text-decoration: none;
    > span {
      background: white;
      color: black;
    }
  }

  > span {
    margin-right: 10px;
    background: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 2em;
  }
}

