@font-face{
    font-family: 'DINFonts';

    src: font-url('DINLi.ttf') format('truetype'),
      font-url('DINLiEp.ttf') format('truetype'),
      font-url('DINLiA.ttf') format('truetype'),
      font-url('DINMd.ttf') format('truetype'),
      font-url('DINMdA.ttf') format('truetype'),
      font-url('DINMdEp.ttf') format('truetype'),
      font-url('DINRg.ttf') format('truetype'),
      font-url('DINRgA.ttf') format('truetype'),
      font-url('DINRgEp.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}