@font-face{
    font-family: 'DINFonts';

    src:url('DINLi.ttf') format('truetype'),
      url('DINLiEp.ttf') format('truetype'),
      url('DINLiA.ttf') format('truetype'),
      url('DINMd.ttf') format('truetype'),
      url('DINMdA.ttf') format('truetype'),
      url('DINMdEp.ttf') format('truetype'),
      url('DINRg.ttf') format('truetype'),
      url('DINRgA.ttf') format('truetype'),
      url('DINRgEp.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}